<div class="footerdiv">

    <div class="fotterleftcontent">
        <ol class="fotterol">
            <h3>Deam home</h3>
            <li>Mobile Apps</li>
            <li>Our Services</li>
            <li>Price Trends</li>
            <li>Post your Property</li>
            <li>Real Estate Investments</li>
            <li>Builders in India</li>
            <li>Area Converter</li>
            <li>Articles</li>
            <li>Customer Service</li>
            <li>Sitemap</li>

        </ol>
        <ol class="fotterol">
            <h3>Company</h3>
            <li>About us</li>
            <li>Contact us</li>
            <li>Careers with us</li>
            <li>Terms & Conditions</li>
            <li>Request Info</li>
            <li>Feedback</li>
            <li>Report a problem</li>
            <li>Testimonials</li>
            <li>Summons/Notices</li>
            <li>Grievances</li>
            <li>Safety Guide</li>

        </ol>

        <ol class="fotterol">
            <h3>Our Partners</h3>
            <li>Naukri.com - Jobs in India</li>
            <li>Naukrigulf.com - Jobs in middle east</li>
            <li>Jeevansathi.com - Matrimonials</li>
            <li>Brijj.com - Professional Networking</li>
            <li>Shiksha.com - Education Career Info</li>
            <li>Policybazaar.com - Insurance India</li>
            <li>Meritnation.com - Online Educational Assessment</li>
            <li>AmbitionBox.com</li>
            <li>FirstNaukri.com - A jobsite for campus hiring</li>
            <li>Jobhai.com – Find Jobs Near You</li>
            <li>Techminis.com - Tech news on the go</li>

        </ol>
    </div>
    <div class="fotterrightcontent">

        <ol class="fotterolright">
            <h3>Contact us</h3>
            <p>Toll Free - 1800 1200 15</p>
            <p class="parastyel">Monday - Saturday(9:00AM to 11:00pm IST )</p> <br>
            <p>Email - feedback@Dreamhome.com</p>


            <div>
                <h3>Connects with us</h3>
                <ol class="footerolrightmain"> 
                    <li> <i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ol>
            </div>
        </ol>

    </div>
</div>







<script>

    user = document.querySelector(".loginoption");
    user.style.display="none";

   function profile(){
    // console.log(user)
        user.style.display == "none" ?  user.style.display = "flex" : user.style.display = "none"
    }
    
    fordisplaylogin = document.querySelector('#mainform')

   






   


    
    

</script>


</body>

</html>